.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.body, h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-size: 16px;
}

.app-container {
  
  align-items: center;
  justify-content: space-between;
  margin: 40px;

}

.about-panel {
  display: flex;
  flex: 1;
  padding: 20px;
  align-items: center;
  background-color: #f2f2f2;
}

.view-dialog{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.run-input-form {
  flex: 2;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-left: 20px;
}

.label {
  text-align: left;
  margin-bottom: 4px;
}

input,
select {
  width: 100%;
  padding: 4px;
  margin-bottom: 4px;
  box-sizing: border-box;
}
.two-buttons{
  display: flex 
}
.note-dialog{
  align-items: center;
}

.button {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.row-container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}




/* Style for the table displaying previous runs */
.table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

/* Styles for the previous runs table */
.table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.table-container th, .table-container td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.table-container th {
  background-color: #f2f2f2;
}

/* Styles for the generated plans dialog */
.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.dialog-content th, .dialog-content td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.dialog-content th {
  background-color: #f2f2f2;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
